# Build
build/
build-*/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json

*.a
*.o
*.so

# Qt Creator / KDevelop
*.pro.user
*.kdev4
*.kdev_include_paths
*.creator
*.creator.user

# VSCode
.vscode/

# CLion
.idea/

# Generated
moc_*
ui_*
qrc_*

# Backup
*~
*.swp
*.bak
